
/* 抽卡 */
#TALOCARDS{
  width: 100%;
  height: 200vh;
  background-color: #faf4fc;
  padding: 20px 0 50px 0;
}


/* cardsflip related */
#TALOCARDS .cards{
  position: absolute;
  width: 100px;
  height: 200px;
  transition: .7s ease;
  transform-style: preserve-3d;
  cursor: pointer;
  perspective: 500px;
  /* REVIEW: 翻轉原點不偏移 */
  transform-origin: 62px;
  -ms-transform-origin: 62px;
  -webkit-transform-origin:62px;
  -moz-transform-origin: 62px ;
}
#TALOCARDS .cards.isflipped{
  transform: rotateY(180deg);
}
#TALOCARDS .cardsFace{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#TALOCARDS .cardsFace img{
  max-height: 100%;
}
#TALOCARDS .cardsback{
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
}

/* others */
#TALOCARDS h1{
  font-size: 30px;
  color: #b53706;
  font-weight: bold;
  border-bottom: 1.5px dashed #b53706;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
#TALOCARDS #chooseQuestion, .actionBtn{
  margin: 20px 0;
  padding: 5px 15px;
  background: #fde7e7;
  font-weight: bold;
  border: 3px #7e7e7e double;
  padding: 10px;
  color: #595a5c;
  border-radius: 5px;
  transition: 0.5s;
  filter: drop-shadow(3px 3px 1px ce9b0ae);
}
.bold{
  color: #b53706;
  font-weight: bolder;
}
